@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}
body {
  min-height: 100vh;
  background-color: #f9fafb;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.border-in-header {
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(203, 213, 225, 0.8),
      transparent
    )
    1;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.border-in-header-1 {
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(203, 213, 225, 0.2),
      transparent
    )
    1;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.border-in-header-2 {
  border-image: linear-gradient(
      to top,
      transparent,
      rgba(203, 213, 225, 0.8),
      transparent
    )
    1;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-left-width: 1px;
  border-right-width: 1px;
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
.testimonial .testimonial-list {
  animation: scroll 80s linear infinite;
}
.testimonial:hover {
  .testimonial-list {
    animation-play-state: paused;
  }
  article {
    transform: rotate(0);
  }
}

/* features */
.feature-border-bottom {
  border-image: linear-gradient(
      to right,
      transparent,
      rgba(203, 213, 225, 0.3),
      transparent
    )
    1;
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-bottom-width: 1px;
}

@media (min-width: 1024px) {
  .lg-feature-border-bottom-hidden {
    border-image: linear-gradient(
        to right,
        transparent,
        rgba(203, 213, 225, 0.3),
        transparent
      )
      1;
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-bottom-width: 0px;
  }
}
@media (min-width: 640px) {
  .sm-feature-border-bottom-hidden {
    border-image: linear-gradient(
        to right,
        transparent,
        rgba(203, 213, 225, 0.3),
        transparent
      )
      1;
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-bottom-width: 0px;
  }
}
@media (min-width: 640px) {
  .sm-feature-border-right {
    border-image: linear-gradient(
        to top,
        transparent,
        rgba(203, 213, 225, 0.3),
        transparent
      )
      1;
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-right-width: 1px;
  }
}
@media (min-width: 1024px) {
  .lg-feature-border-right {
    border-image: linear-gradient(
        to top,
        transparent,
        rgba(203, 213, 225, 0.3),
        transparent
      )
      1;
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-right-width: 1px;
  }
}
@media (min-width: 1024px) {
  .lg-feature-border-right-hidden {
    border-image: linear-gradient(
        to top,
        transparent,
        rgba(203, 213, 225, 0.3),
        transparent
      )
      1;
    border-image-slice: 1;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-right-width: 0px;
  }
}
